body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 120px;
}

.bg-block-color-light {
  background-color: #c1c1c1;
}

.bg-block-color-light-1 {
  background-color: #cdcdcd;
}

.bg-block-color-dark {
  background-color: #949494;
}
.text-center {
  text-align: center;
}

.fix-content {
  max-width: 970px;
  overflow: hidden;
  margin: 0 auto;
}
/*Tieu de*/
.title {
  font-size: 15px;
  text-transform: uppercase;
  margin: 10px 0;
}
