.b-event-study {
  margin-top: 20px;
}
.b-event {
  float: left;
  width: 23.5%;
  height: 200px;
}
.b-study {
  float: right;
  width: 74.5%;
  height: 200px;
}


/* co du lieu */
.b-event-study-1 {
  margin-top: 40px;
}
.b-event-study-1 .b-event {
  height: auto;
}
.b-event-study-1 .item-news {
  overflow: hidden;
  margin-bottom: 20px;
}
.b-event-study-1 .item-news .b-time {
  float: left;
  width: 63px;
  border: 1px solid #b9b9b9;
}
.b-event-study-1 .item-news .b-time span {
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.b-event-study-1 .item-news .b-time .time {
  background-color: #761413;
  color: #fff;
  padding: 5px 0;
}
.b-event-study-1 .item-news .b-time .date {
  padding: 5px 0;

}
.b-event-study-1 .item-news .info {
  float: right;
  width: 150px;
}
.b-event-study-1 .item-news .info a.link {
  display: block;
  font-size: 14px;
  color: #570814;
  text-decoration: none;
}
.b-event-study-1 .item-news .info .txt-note {
  color: #7a7a7a;
  display: block;
  margin-top: 5px;
}
.b-event-study-1 .b-study {
  height: auto;
}
.b-event-study-1 .b-study .item {
  width: 31.44444%;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  position: relative;
}
.b-event-study-1 .b-study .item:nth-child(-3n+4) {
  margin-left: 0;
}
.b-event-study-1 .b-study .item:nth-child(-3n+6) {
  margin-right: 0;
}

.b-event-study-1 .b-study .item .text {
  position: absolute;
  z-index: 2;
  left: 10px;
  bottom: 10px;
  background-color: #7d7d7d;
  padding: 4px 10px;
  color: #fff;
}

.b-event-study-1 .b-study .item-3 .text {
  left: auto;
  right: 10px;
}