body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.bg-block-color-light {
  background-color: #c1c1c1;
}

.bg-block-color-light-1 {
  background-color: #cdcdcd;
}

.bg-block-color-dark {
  background-color: #949494;
}
.text-center {
  text-align: center;
}
.boder-top {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e3e3e3;
}
/*Tieu de*/
.title {
  font-size: 15px;
  text-transform: uppercase;
  margin: 10px 0;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/*
  CSS top bar
 */
.top-bar {
  background-color: #242424;
  height: 40px;
}
.top-bar .container {
  position: relative;
}
.top-bar a:link, .top-bar a:visited {
  color: #fff;
}
.top-bar a:hover {
  text-decoration: underline;
}
.top-bar .b-language {
  position: absolute;
  left: 0;
  top: 12px;
  overflow: hidden;
}
.top-bar .b-language li {
  float: left;
  margin-right: 10px;
}
.top-bar .b-language li a {
  display: block;
}
.top-bar .b-language li:first-child {
  border-right: 1px solid #fff;
  padding-right: 10px;
}
/* Top: serach + hotline */
.b-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.b-top-right .form-input-search, .b-top-right .btn-group {
  display: inline-block;
}
.b-links {
  overflow: hidden;
  margin: 0 auto;
  display: table;
}
.b-links li {
  float: left;
  color: #fff;
  padding: 13px 15px;
}
/* logo */
.b-logo {
	background-color: #790404;
	/* height: 148px; */
}
.b-logo .logo a {
	display: block;
	background: url('../images/logo.png') no-repeat center center;
	width: 267px;
	height: 68px;
	margin: 30px auto;
	text-indent: -1983em;
}

/* Block: tin tuc */
.b-list-news {
  overflow: hidden;
}
.b-list-news .item-news {
  width: 23.5%;
  float: left;
  height: 140px;
  text-align: center;
  font-size: 15px;
  line-height: 140px;
  margin: 0 1%;
}
.b-list-news .item-news:first-child {
  margin-left: 0;
}
.b-list-news .item-news:last-child {
  margin-right: 0;
}
/* end-block: tin tuc */


/* Lich su kien */
.b-event-study {
  margin-top: 40px;
}
.b-event-study .container {
  padding-left: 0;
  padding-right: 0;
}

.b-event .item-news {
  overflow: hidden;
  margin-bottom: 20px;
}
.b-event .item-news .b-time {
  float: left;
  width: 63px;
  border: 1px solid #b9b9b9;
}
.b-event .item-news .b-time span {
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.b-event .item-news .b-time .time {
  background-color: #761413;
  color: #fff;
  padding: 5px 0;
}
.b-event .item-news .b-time .date {
  padding: 5px 0;

}
.b-event .item-news .info {
  float: right;
  width: 185px;
}
.b-event .item-news .info a.link {
  display: block;
  font-size: 14px;
  color: #570814;
  text-decoration: none;
}
.b-event .item-news .info .txt-note {
  color: #7a7a7a;
  display: block;
  margin-top: 5px;
}

/*css banner */
.b-banner .container {
  padding-left: 0;
  padding-right: 0;
}
