/*Navigation */
.b-nav {
  height: 44px;
}
.b-nav .nav {
  overflow: hidden;
}
.b-nav .nav li {
  display: block;
  float: left;
}

.nav {
	overflow: hidden;
	margin: 0 auto;	
}
.nav li {
	float: left;
}
.nav li a {
	display: block;
	text-decoration: none;
	padding: 15px 34px;
	text-transform: uppercase;
}
.nav li a:hover {
	color: #971515;
}