.b-list-news {
  overflow: hidden;
}
.b-list-news .item-news {
  width: 23.5%;
  float: left;
  height: 140px;
  text-align: center;
  font-size: 15px;
  line-height: 140px;
  margin: 0 1%;
}
.b-list-news .item-news:first-child {
  margin-left: 0;
}
.b-list-news .item-news:last-child {
  margin-right: 0;
}
