.btn {
	display: block;
	border-radius: 30px;
	text-transform: uppercase;
	padding: 10px 20px;	
	text-align: center;	
	&.btn-blue {
		background-color: $blue-color;
		@include single-transition(background,1s,ease-in-out,0);
		&:hover {
			background-color: darken($blue-color,10%);			
			color: #fff;
			text-decoration: none;
		}
	}
	&.btn-green {
		background-color: $green-color;
		@include single-transition(background,1s,ease-in-out,0);
		&:hover {
			background-color: darken($green-color,10%);
			color: #fff;
			text-decoration: none;
		}
	}
}

.btn-signup {
	min-width: 156px;
	margin-top: 16px;
	margin-left: 50px;
	font-family: $proxima_bold;
	display: block;	
}
.btn-apple-store {
	max-width: 380px;
	margin: 0 auto;
	margin-top: 25px;
	color: #fff;
	padding: 15px 0;
	font-family: $proxima_bold;
	position: relative;
	font-size: 18px;
	.icon {
		font-size: 25px;
		display: block;
		position: absolute;		
		&.icon-apple {			
			top: 13px;
			left: 0;
			float: left;
			margin-left: 25px;
		}
		&.icon-arrow-down {
			top: 19px;
			right: 6px;			
			float: right;
			margin-right: 25px;
			font-size: 15px;
			color: rgba(0,0,0,.5);
		}
	}
}
.button-border {
	display: inline-block;
	border: 1px solid $green-color;
	border-radius: 30px;
	padding: 10px 40px;	
	font-size: 26px;
	color: $green-color;
	text-transform: uppercase;
	font-family: $proxima_bold;
	margin-left: 30px;
	&:hover {
		border-color: $orange-color;
		color: $orange-color;
	}
}
