body {
	font-family: $proxima_regular;
	font-size: $regularSize;
	overflow-x: hidden !important;
}
a,
a:hover {
	text-decoration: none;
}
.fix-content {
	max-width: $contentWidth;
	margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}
.img-responsive {
	width: 100%;
	height: auto !important;
}
.heading-block {
	text-align: center;
	margin: 45px 0 80px 0;
	.title-block {
		font-size: 37px;
		font-family: $proxima_bold;
		border-bottom: 4px solid $green-color;
		border-bottom-width: 70%;
		display: inline-block;
	}
}
