.b-header {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 100;
	.logo {
		display: block;
		color: #fff;
		text-align: center;
		.icon-logo {
			display: block;
			width: 90px;
			height: 54px;
			font-size: 43px;
		}
		.icon-logo-text {
			font-weight: bold;
		}
		.name {
			display: block;
			text-indent: -1983em;
		}
	}
	.nav {
		color: #fff;
		list-style: none;
		li {
			float: left;
			margin-left: 60px;
			font-family: $proxima_bold;
			line-height: 45px;
		}
	}
	.b-link {
		a {
			color: #fff;
		}

	}
	@media (max-width: 600px) {
		top: 20px;
		.logo {
			width: 100%;
			.icon-logo, .icon-logo-text {
				float: left;
			}
		}
		.icon-logo-text {
			float: left;
			margin-top: 18px;
			margin-left: 10px;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
		}

		.b-link {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.9);
			.btn-signup {
				float: none !important;				
				margin: 0 auto;
				width: 80%;
			}
		}
		.nav {
			overflow: auto;
			margin-top: 80px;
			text-align: center;
			width: 100%;
			float: none !important;
			margin-left: 0;
			padding: 0;
			li {
				float: none;
				margin-top: 15px;
				width: 100%;
				margin-left: 0;
				a {
					font-size: 24px;
					display: block;
				}
			}
		}
		
		
	}
}

/* mobile */
.spinner-master2 * {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	box-sizing:border-box;
}

.spinner-master2 {
	position: absolute;
	height: 34px;
	width: 34px;
	right: 15px;
	top: 0;
	z-index: 10; 
}

.spinner-master2 input[type=checkbox] {
	display: none;
}
.spinner-master2 label {
	cursor: pointer;
	position: absolute;
	z-index: 99;
	height: 100%;
	width: 100%;
	top: 10px;
	left: 0;
}

.spinner-master2 .spinner2 {
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #fff; 
}

.spinner-master2 .diagonal.part-1 {
	position: relative;
	float: left;
}
.spinner-master2 .horizontal {
	position: relative;
	float: left;
	margin-top: 6px;
}
.spinner-master2 .diagonal.part-2 {
	position: relative;
	float: left;
	margin-top: 6px;
}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal {
	opacity: 0;
}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 {
	transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	margin-top:10px;
}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 {
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	margin-top: -12px;
}


@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}