.tabs {
	max-width: $contentWidth;	
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 57px;
	.tab-item {
		width: 18%;
		float: left;
		display: block;
		text-align: center;
		font-size: 20px;
		color: #444;
		margin-left: 2%;
		height: 40px;
		line-height: 40px;
		border-radius: 30px;
		&:first-child {
			margin-left: 0;
		}
		&:hover {
			background-color: $blue-color;
			color: #fff;
		}		
	}
	.actived {
		color: #fff;
		background-color: $blue-color;			
	}
}