@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?u5p2zf');
	src:url('../fonts/icomoon.eot?#iefixu5p2zf') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?u5p2zf') format('truetype'),
		url('../fonts/icomoon.woff?u5p2zf') format('woff'),
		url('../fonts/icomoon.svg?u5p2zf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-instagram:before {
	content: "\e601";
}
.icon-computer-mouse:before {
	content: "\e616";
}
.icon-pools:before {
	content: "\e617";
}
.icon-cut1:before {
	content: "\e618";
}
.icon-man459:before {
	content: "\e619";
}
.icon-soccer32:before {
	content: "\e61a";
}
.icon-facebook:before {
	content: "\e61b";
}
.icon-twitter:before {
	content: "\e61c";
}
.icon-apple:before {
	content: "\e608";
}
.icon-arrow-down:before {
	content: "\e609";
}
.icon-arrow-follow:before {
	content: "\e60a";
}
.icon-logo-text:before {
	content: "\e60b";
}
.icon-logo:before {
	content: "\e600";
}
.icon-attend:before {
	content: "\e61d";
}
.icon-book:before {
	content: "\e61e";
}
.icon-browse:before {
	content: "\e61f";
}
.icon-check:before {
	content: "\e620";
}


/* font face family */
@font-face {
    font-family: 'proxima_nova_alt_rgregular';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular_0-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular_0-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular_0-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular_0-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular_0-webfont.svg#proxima_nova_alt_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('../fonts/Proxima Nova Semibold.eot');
	src: url('../fonts/Proxima Nova Semibold.woff') format('woff'),
		 url('../fonts/Proxima Nova Semibold.ttf') format('truetype'),
		 url('../fonts/Proxima Nova Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/Proxima Nova Bold.eot');
	src: url('../fonts/Proxima Nova Bold.woff') format('woff'),
		 url('../fonts/Proxima Nova Bold.ttf') format('truetype'),
		 url('../fonts/Proxima Nova Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}