// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;
$contentWidth: 970px;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 14px;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;
$proxima_regular: 'proxima_nova_alt_rgregular';
$proxima_semibold: 'Proxima Nova Semibold';
$proxima_bold: 'Proxima Nova Bold';


$blue-color: #4990e2;
$green-color: #6cc640;
$purple-color: #8f13fd;
$pink-color: #ca3f92;
$orange-color: #f5a623;
