.bg-green {
  background-color: $green-color;
}
.bg-orange {
  background-color: $orange-color;
}
.bg-purple {
  background-color: $purple-color;
}
.bg-pink {
  background-color: $pink-color;
}
.b-slider {
  width: 100%;
  height: 680px;
  background-image: url(../img/Bg.png);
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  @include retina("../img/Bg.png", 100%, 680px);
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  .fix-content {
    height: 100%;
  }
  .slider-1 {
    position: relative;
    text-align: center;
    color: #fff;
    top: 50%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .title-1 {
    font-family: $proxima_bold;
    font-size: 47px;
  }
  .txt-desc-1 {
    width: 60%;
    margin: 0 auto;
    font-size: 23px;   
  }
  .scroll-down {
    margin-top: 40px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    text-align: center;
    color: #fff;
    width: 100px;
    margin-left: -50px;
    opacity: 0.6;
    .icon-computer-mouse {
      font-size: 36px;
    }
    @media (max-width: 600px) {
      bottom: 35px;
    }
  }
  @media (max-width: 600px){  
    height: 528px;  
    .title-1 {
      font-size: 30px;
    }
    .txt-desc-1 {
      font-size: 18px;
      width: 90%;
    }
    .btn-apple-store {
      width: 90%;
      font-size: 14px;
      .icon-apple {
        top: 11px;
        margin-left: 20px;
        font-style: 24px;
      }
      .icon-arrow-down {
        margin-right: 15px;
      }
    }
  }
  @media (max-width: 320px){ 
    .title-1 {
      font-size: 26px;
    }
  }
}
.b-phone {
  padding-top: 80px;
  position: relative;
  background-color: $blue-color;
  height: 100%;
  .b-content {
    background: url(../img/bg-white.png) no-repeat center bottom;
    display: block;
    height: 100%;
    margin-bottom: -1px;
    @media (max-width: 600px) {
      .fix-content {
        .row {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  .title-2 {
    font-family: $proxima_regular;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 70px;
    color: #fff;
  }
  .elem-content-text {
    .b-left, .b-right {
      margin-top: 80px;
    }
  }
  .item-card {
    background-color: #fff;
    margin-bottom: 55px;
    height: 136px;
    border-radius: 3px;
    .item-date-time {
      float: left;
      width: 32%;
      height: 100%;
      text-align: center;
      color: #fff;
      border-radius: 3px 0 0 3px;
      padding-top: 20px;
      span {
        display: block;
      }
    }
    .item-info {
      float: right;
      width: 68%;
      padding: 20px 20px 0 20px;
      span {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
      }
      .place {
        color: #b8b8b8;
      }
      .title-3 {
        font-size: 16px;
        color: $blue-color;
        margin-bottom: 5px;
      }
    }
    .icon  {
      font-size: 36px;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
      padding-bottom: 10px
    }
  }
  @media (max-width: 600px) {
    padding-top: 40px;
    .title-2 {
      font-size: 28px;
      padding-bottom: 20px;
    }
    .elem-content-text {
      .b-left, .b-right {
        margin-top: 0px;
      }
      .item-card {
        margin-bottom: 20px;
      }
    }
  }
}
// block - feature
.b-feature {
  height: 100%;
  padding-bottom: 60px;
  .col-icon {
    text-align: center;
  }
  .desc {
    margin-top: 40px;
    font-size: 22px;
    font-family: $proxima_bold;
  }
  @media (max-width: 600px) {
    .heading-block {
      margin-bottom: 40px;
    }
  }
}
.b-info-1 {
  background: url(../img/Bg-1.png) no-repeat;
  background-size: cover;
  @include retina("../img/Bg-1.png", 100%, 700px);
  height: 700px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  .fix-content {
    height: 100%;
  }
  .info-1 {
    position: relative;
    top: 50%;
    max-width: 490px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } 
  .title-3 {
    font-size: 38px;   
    font-weight: normal;
    strong {
      display: block;
    }
  }
  .desc-2 {
    font-size: 24px;
    margin-bottom: 60px;  
  }
  .elem-link {
    .price {
      font-size: 26px;
      font-family: $proxima_bold;
    }
  }
  @media (max-width: 768px) {
	.b-info-1 {
		background-position: -390px center;
		.info-1 {
			max-width: 430px;
			.desc-2 {
				width: 90%;
			}
			.title-3 {
				strong {
					font-size: 33px;
				}
				font-size: 26px;
			}
		}
	}
  }
  @media (max-width: 600px) {
    height: 550px;    
    .fix-content {
      width: 90%;
      text-align: center;
    }
    .title-3 {
      strong {
        font-size: 28px;
      }
      font-size: 22px;
    }
    .info-1 {     
      position: relative;
      top: 0;
      transform: translateY(15%);
      -webkit-transform: translateY(15%);
      -moz-transform: translateY(15%);
      -ms-transform: translateY(15%);
      -o-transform: translateY(15%);
      .desc-2 {
        font-size: 24px;
        margin-bottom: 30px;
      }
    }
    .elem-link {
      .button-border {
        margin-left: 0;
        margin-top: 15px;
      }
    }    
  }
}

.b-where {
  width: 100%;
  .elem-content-tabs {
    height: 463px;
    .tab-content {
      height: 100%;
    }
  }
  .b-country {    
    height: 100%;
    text-align: center;
    background-size: cover;
    background-position: center center;
    .info {
      color: #fff;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }
    .txt-1, .txt-2 {
      display: block;
      font-size: 32px;
      text-transform: uppercase;      
    }
    .txt-1 {
      position: relative;
      display: inline-block;      
      &:after {
        width: 100%;
        height: 3px;
        background-color: $green-color;
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;      
      }
    }
  }
  .b-maps {
    height: 100%;    
    background-image: url(../img/maps.png);
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    @include retina("../img/maps@2x.png", 100%, 463px);
  }
  @media (max-width: 600px) {
    .tabs {
      margin-bottom: 30px;
      .tab-item {
        display: block;
        float: none;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    .heading-block {
      margin-bottom: 30px;
    }
  }
}

.b-how {  
  overflow: hidden;
  .col-icon {
    text-align: center;
    position: relative;
    &:after {
      content: '';
      width: 50%;
      height: 1px;
      background-color: #ababab;
      left: 0;
      top: 40px;
      position: absolute;
      z-index: 2;
    }
    &:before {
      content: '';
      width: 50%;
      height: 1px;
      background-color: #ababab;
      right: 0;
      top: 40px;
      position: absolute;
      z-index: 2;
    }    
    &.col-first {
      &:after {
        display: none;
      }
    }
    &.col-last {
      &:before {
        display: none;
      }
    }

    .desc {
      font-size: 28px;
      padding-bottom: 40px;
      padding-top: 10px;      
    }
  }
  .icon {
    font-size: 75px;
    text-align: center;
    color: $blue-color;
    background-color: #fff;
    position: relative;
    z-index: 3;
    padding: 0 30px;
  }
  @media (max-width: 600px) {
    .col-icon {      
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }      
    }
  }
}

.b-info-2 {
  height: 462px;
  width: 100%;
  background: url(../img/Bg-2.png) no-repeat;
  background-size: cover;
  background-position: center center;
  @include retina("../img/Bg-2@2x.png", 100%, 462px);
  position: relative;
  &:after {
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .fix-content {
    height: 100%;
    position: relative;       
  }
  .info-1 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    width: 40%;
    z-index: 3;
  }
  .title-3 {
    font-size: 30px;    
  }
  .desc-2 {
    font-size: 22px;
  }
  @media (max-width: 768px) {
	.b-info-2 {
		.info-1 {
			width: 45%;
		}
	}
  }
  @media (max-width: 600px) {
    background-position: 70% center;
    .info-1 {
      width: 90% !important;
      margin: 0 auto;
      text-align: center;
      left: 5%;
      strong {
        font-size: 24px;
      }
    }
  }
}
.b-info-3 {
  background-color: $blue-color;
  padding-top: 100px;
  .list-check {
    list-style: none;
    color: #fff;
    font-size: 22px; 
    padding: 0;
    margin: 0;
    padding-top: 40px;  
    li {
      margin-bottom: 25px;

      .icon-check {
        vertical-align: middle;
        display: inline-block;
        font-size: 30px;
        margin-right: 15px;
        margin-top: -8px;
      }
    }    
  } 
  .btn-apple-store  {
    margin: 0;
    margin-left: 42px;    
  }
  @media (max-width: 600px) {
    padding-top: 20px;
    .list-check {
      li {
        font-size: 18px;
      }
    }
    .info-3 {
      margin-bottom: 30px;
    }
    .btn-apple-store {
      margin-left: 0;
      font-size: 15px;
      .icon-apple {
        margin-left: 15px;
        top: 12px;
        font-style: 14px;
      }
      .icon-arrow-down {
        margin-right: 15px;
      }     
    }
	.elem-img-phone {
		text-align: center
	}
  }
}
/* Package */
.b-package {
  height: 623px;
  width: 100%;
  background: url(../img/Bg-3.png) no-repeat;
  background-size: cover;
  background-position: center center;
  @include retina("../img/Bg-3@2x.png", 100%, 623px);
  position: relative;
  &:after {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .fix-content {
    height: 100%;
    position: relative;
    z-index: 3;
  }
  .col-elem-package {
    height: 100%; 
  }
  .elem-package {    
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 13;
    padding: 15px 30px 30px 30px;
    overflow: hidden;
    a {
      display: block;
      color: #fff;
    }
    .desc {
      font-size: 20px;
      display: block;
      padding-right: 10px;
    }
    .price {
      font-size: 50px;
      font-family: $proxima_bold;

      em {
        font-size: 18px;
        font-style: normal;
        opacity: 0.4;
        color: #000;
      }
    }
    .link {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 97px;
      height: 94px;
      background-color: #fac537;
      border-radius: 100% 0 0 0;
      .icon-arrow-follow {
        font-size: 24px;
        color: rgba(0,0,0,0.5);
        left: 50%;
        top: 50%;
        position: absolute;
        margin-left: -6px;
        margin-top: -6px;
      }
    }
    &.bg-gradient-green {
      margin-right: 15px;
      display: block;
      background: #439322; /* Old browsers */
      background: -moz-linear-gradient(45deg,  #439322 0%, #9ddc47 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#439322), color-stop(100%,#9ddc47)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(45deg,  #439322 0%,#9ddc47 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(45deg,  #439322 0%,#9ddc47 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(45deg,  #439322 0%,#9ddc47 100%); /* IE10+ */
      background: linear-gradient(45deg,  #439322 0%,#9ddc47 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#439322', endColorstr='#9ddc47',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    &.bg-gradient-pink {
      margin-left: 15px;
      display: block;     
      background: #932059; /* Old browsers */
      background: -moz-linear-gradient(45deg,  #932059 0%, #dc47a1 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#932059), color-stop(100%,#dc47a1)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(45deg,  #932059 0%,#dc47a1 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(45deg,  #932059 0%,#dc47a1 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(45deg,  #932059 0%,#dc47a1 100%); /* IE10+ */
      background: linear-gradient(45deg,  #932059 0%,#dc47a1 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#932059', endColorstr='#dc47a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
  @media (max-width: 600px) {
	padding-top: 60px;
    .elem-package {     	  
	  top: 0 !important;
	  left: 5% !important;
      transform: none !important;
	  -webkit-transform: none !important;
	  -ms-transform: none !important;	  
      z-index: 4;
	  width: 90%;
		&.bg-gradient-pink {
			top: 222px !important;
		}
		.desc {
			width: 90%;
		}
    }
    .fix-content  {
      height: auto;
    }
    .col-elem-package {
      margin: 0;
      .bg-gradient-green {
        margin-right: 0;
      }
      .bg-gradient-pink {
        margin-left: 0;
        margin-top: 40px;
      }
    }	
  }
   @media (max-width: 320px) {
	.elem-package {
		.desc {
			font-size: 16px;
			width: 80%;
		}
	}
   }
}

.b-info-4 {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 70px;
  .title-4 {
    font-size: 28px;
    text-transform: uppercase;
    color: $blue-color;
    margin-bottom: 20px;
  }
  .desc-4 {
    font-size: 22px;
    width: 45%;
    margin: 0 auto;
  }
  @media (max-width: 600px) {
    padding-top: 40px;
    .desc-4 {
      width: 90%;
    }
    .btn-apple-store {
      width: 90%;
      font-size: 14px;
      .icon-apple {
        margin-left: 20px;
        top: 12px;
      }
      .icon-arrow-down {
        margin-right: 15px;
        top: 17px;
      }
    }
  }
}
.b-footer {
  background-color: $blue-color;
  padding-top: 20px;
  ul {
    list-style: none;        
  }
  li {    
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-left: 15px;
    a {
      color: #fff;
      &:hover {
        color: $green-color;
      }
    }
    &:before {
      content: '';
      color: #fff;
      position: absolute;
      left: 0;
      top: 8px;
      width: 5px;
      height: 5px;
      display: block;
      background-color: #fff;
    }
  }
  .elem-social {
    margin-top: 38px;
    li {
      float: left;  
      margin-left: 10px;
      list-style: none;
      &:before {
        display: none;
      }
    }    
    .icon-link {
      background-color: #fff;
      width: 60px;
      height: 60px;
      display: block;
      border-radius: 50%;
      text-align: center;      
    }
    .icon-facebook, .icon-twitter, .icon-instagram {
      color: $blue-color;
      font-size: 20px;
      line-height: 60px;
    }
  }  
  @media (max-width: 768px) {
	padding-bottom: 160px;
	.elem-social {
	  li {
		margin-left: 0;
	  }	  
	}
  }
  @media (max-width: 375px) {
	padding-bottom: 0;
    .link-1 {
      margin-bottom: 0;
    }
    .link-2 {
      padding-top: 0;
      margin-top: 0;
    }
    .elem-social {
      margin-top: 0;
      padding-top: 0;
      padding-top: 30px;		
    }
  }
}

@media (max-width: 768px) {
	.b-header .fix-content, .b-content .fix-content, .b-info-1 .fix-content, .b-info-2 .fix-content {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.b-package {
		.bg-gradient-pink {
			margin-right: 15px;
		}
	}
}
@media (max-width: 600px) {
	body {
		overflow-x: hidden !important;
	}
}

